:root{
    --black: #000000;
    --font:#111111;
    --primary: #FED941;
    --grey: #808080;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*TYPOGRAFY*/

.headline1{
    font-size: 46px;
    font-weight: 800;
    font-style: normal;
    line-height: 56px;
    letter-spacing: 1%;
    
}

.headline2{
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 58px;
    letter-spacing: 0.5%;
    
}

.headline3{
    font-size: 37px;
    font-weight: 700;
    font-style: normal;
    line-height: 31.5px;
    
}

.headline4{
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    line-height: 34px;
    letter-spacing: 1%;
    
}

.headline5{
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 1%;
    
}

.body1-bold{
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 27px;
    
}

.body1-regular{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    
}

.body2-bold{
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 19px;
    
}

.body2-regular{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    
    
}

.btn-font{
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    
}

.caption{
    font-size: 12;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    
}

body{
    background: url(../static/img/background.png) no-repeat;
    background-color: #E8E8E6;
    overflow-x: none;
    color: var(--white);
}
/*HEADER*/
header{
    min-height: 76px;
    background-color: var(--black);
    color: var(--white);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header-logo{
    font-size: 24px;
    font-weight:bold;
    line-height:28px;
}
.header-menu{
    
    color: var(--white);
    background-color: var(--black);
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 0%;
    height: 200px;
    width: 200px;
    transition: .5s;
    transform: translateX(300px);
    display: none;
    list-style: none;
    gap: 6px;
    padding: 5px;
    
    
}
.header-menu a:hover{
    color: white;
}

/*HEADER-TOGGLE*/
.header-toggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header-toggle input{
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    padding: 10px 0px;
    
}

.bar1,.bar2,.bar3{
    display: block;
    width: 24px;
    height: 2px;
    background: white;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 3px;
    transition: .5s;  
}
.checkbox:checked~.header-menu{
    transform: translateX(0px);
    display: flex;

}

.checkbox:checked ~ .bar1{
    transform: translateY(3px) rotate(45deg);
    
}
.checkbox:checked ~ .bar2{
    display: none;
}
.checkbox:checked ~ .bar3{
    transform: translateY(-3px) rotate(-45deg);
}
.hmb-btn{
    width: 30px;
    height: 30px;
    /* border: solid 1px red ; */
    position: absolute;
}
.header-menu-large{
    display: none;
}

/*PRESENTATION*/

.presentation{
    margin: 35px 20px 57px 20px;
    display: grid;
    grid-row-gap: 24px;
}
.presentation-top{
    display: grid;
    grid-row-gap: 24px;
}
.presentation-mid{
    height: 52px;
    width: 260px;
    border-radius: 8px;
    border: solid 2px var(--white);
    background: transparent;
    color: white;
    cursor: pointer;
}

.presentation-bot{
    color: white;
}


.iphone-img{
    /* border: solid 1px red; */
    width: 360px;
    display: block;
    margin: auto;
}
.business{
    margin: 27px 107px 0px 107px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

/*----PROMOTION1----*/
.promotion1{
    margin-bottom: 64px;
}
.promotion1-img{
    width: 360px;
    margin: 64px auto;
    display: block;
    
}
.promotion-text{
display: flex;
flex-direction: column;
gap:16px;
padding: 0px 20px;
margin-bottom: 64px;
}
.promotion-text-top{
color: var(--black);
text-align: left;
}
.promotion-text-bot{
    color: var(--grey);
}
.iphone1-img{
    width: 360px;
    display: block;
    margin: auto;
}

/*-------PROMOTION2-------*/
.promotion2{
    background: url(../static/img/image\ 7.png) no-repeat;
    background-size: cover;
    background-position: 83% ;
    padding-bottom: 138px;
}
.iphone2-img{
    width: 360px;
    display: block;
    margin: auto;
}
/*----PROMOTION3----*/
.promotion3{
    background:black;
    padding: 64px 0px;
}
.promotion3-text{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}
.bar{
    height: 40px;
    width: 95%;
    position: relative;
    right: -5%;
    background:white;
    border-radius:  100px 0px 0px 100px;
    margin-bottom: 64px;
}
.bar span{
    height: 40px;
    width: 60%;
    background: #2FB464;
    position: absolute;
    border-radius: 100px;

}

.promotion-text{
    display: flex;
    flex-direction: column;

}
/*----PROMOTION4----*/
.promotion4{
    padding: 64px 20px;
    background: white;
    
}
.promotion4-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-bottom: 56px;
    
}
.promotion4-text-top{
color: var(--black);
}
.promotion4-text-bot{
color: var(--grey);
}
.promotion4 img{
    width: 320px;
    display: block;
    margin: auto;
    
}

/*-----COMMENTS------*/

.comments{
    padding: 80px 20px 200px 20px;
    background: #ECEEF1;
    
    
    
    
    
}
.comments-tittle{
    color: var(--font);
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card{
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction:column;
    align-items: center;
    color: var(--black);
    padding: 100px 32px 32px 32px;
    position: relative;
    gap: 10px;
    max-width: 320px;
    margin-top: 130px;
}
.card img{
    
    max-width: 100px;
    position: absolute;
    top: -10%;
}
.card-text-top{
    min-height: 211px;
    text-align: center;
    
}
.card-text-bot{
    text-align: center;
    display: grid;
    grid-row-gap: 4px;
}

.grey{
    color: var(--grey);
}
/*-----FOOTER----*/
.fast-sign-up{
    background:white;
    color: black;
    padding: 24px 32px; 
    display: grid;
    grid-row-gap: 24px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    margin: -300px 20px 94px 20px;
}
.fast-sign-up-btn{
    border-radius: 8px;
    height: 52px;
    background: black;
    color: white;
    border: none;
    outline: none;
}
.fast-sign-up-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}
footer{
    background: black;
    padding-top: 200px;
    padding-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    gap:64px;
    
    
}
.footer-top,
.footer-mid,
.footer-bot{
    padding:0px 20px;
}
.footer-top h4{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px
}
.footer-top button{
    background: black;
    outline:none;
    border:none

}
.footer-top{
    display: grid;
    grid-row-gap: 4px;
}
.footer-top-icons{
    height: 60px;
    width: 140px;
    padding-top: 24px;
    gap: 16px;
}

.first-list,
.second-list{
    list-style: none;
}

.heading{
    text-align: left;
    margin-bottom: 4px;
    color: white !important;
}
a{
    text-decoration: none;
    color: #A5A5A5;
}
.white{
    color: white;
}


/*RESPONSIVE*/
@media screen and (min-width:768px){
/*HEADER*/
/*HEADER-TOGGLE*/
/*PRESENTATION*/
/*----PROMOTION1----*/
/*-------PROMOTION2-------*/
/*----PROMOTION3----*/
/*----PROMOTION4----*/
/*-----COMMENTS------*/
/*-----FOOTER----*/
footer{
    gap:45px;
}
}

@media screen and (min-width: 1024px) {
    .headline5{
        font-size: 48px;
        font-weight: 700;
        font-style: normal;
        line-height: 58px;
        letter-spacing: 0.5%;
    }
    .headline4{
        font-size: 37px;
        font-weight: 700;
        font-style: normal;
        line-height: 31.5px;
    }
    .body2-regular{
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 27px;
    }

    body{
        background-size: contain;
        background-size: 100vw 680px;
        background-color: white;
    }
    
    .section-wrapper{
        padding-left: 350px;
    }
/*HEADER*/
    header{
        height:86px;
        display: flex;
    }
    .header-toggle span{
        display: none;
    }
    .header-menu{
        display: none;
    }
    .header-menu-large{
        display: flex;
        flex-direction: row;
        color: white;
        width: 100%;
        text-decoration: none;
        gap: 40px;
        list-style: none;
    }
    .checkbox{
        display: none;
    }
    .signup-btn{
        height: 38px;
        width: 123px;
        background-color: var(--white);
        color: black;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .header-menu li:hover{
        border-bottom: solid 2px white;
    }
    
    
/*HEADER-TOGGLE*/
/*PRESENTATION*/
    .presentation{
        margin-left: 20px;
        margin-top: 207px;
        
    }
    .iphone-img{
        position: fixed;
        top: 5%;
        left: 0%;
        z-index: 2;
    }
    .business{
        margin-top: 120px;
        
    }
    /*----PROMOTION1----*/
    .promotion1{
        background: white;
    }
    .promotion1-img{
        width: 630px;
    }
    .iphone1-img{
        display: none;
    }
    /*-------PROMOTION2-------*/
    .promotion2{
        height: 768px;
        padding-top: 207px;
    }
    .iphone2-img{
        display: none;
    }
    /*----PROMOTION3----*/
    .promotion3{
        height: 768px;
        padding-top: 207px;
    }
    /*----PROMOTION4----*/
    .promotion4{
        height: 768px;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .promotion4 img{
        margin:200px 525px 64px 200px;
    }
    /*-----COMMENTS------*/
    .comments{
        position: relative;
        z-index: 3;
    }
    /*-----FOOTER----*/
    .fast-sign-up{
        margin: -300px 245px 94px 245px;;
    }
    footer{
        position: relative;
        z-index: 3;
    }
}

@media screen and (min-width: 1200px){
/*HEADER*/
/*HEADER-TOGGLE*/
/*PRESENTATION*/
/*----PROMOTION1----*/
/*-------PROMOTION2-------*/
/*----PROMOTION3----*/
/*----PROMOTION4----*/
/*-----COMMENTS------*/
/*-----FOOTER----*/
}
